* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat;
}

#aboutMe {
    width: 100%;
    height: 600px;
    background: url("../img/top-section-image2.jpg") no-repeat center center;
    margin-bottom: 20px;
}

.top-section {
    height: 60px;
    width: 100%;
    padding: 10px;
}

.logoImage {
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: ;
    color: #000;
}

.brand-title {}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #fff;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}

.profile {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-resize {
    width: 400px;
    height: 400px;
}

.margin-reset {
    margin-top: 30px;
    margin-bottom: 30px;
}

.name {
    font-size: 4rem;
}

.introduction {
    width: 60%;
}

.profileSummary h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.profileSummary p {
    line-height: 1.6;
    background-color: black;
    color: white;
}

.name {
    font-size: 3.5rem;
}

.workHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}

.employer {
    width: 300px;
    background-color: beige;
    color: black;
    margin-right: 20px;
    margin-bottom: 5px;
}

.jobDescription {
    width: 800px;
}

.employer h3 {
    font-size: 0.9rem;
    margin-top: 2.5px;
}

.card {
    width: 300px;
    height: 300px;
    margin-right: 15px;
    margin-left: 15px;
}

.card img {
    max-width: 100%;
    max-height: 250px;
}

.section-title {
    padding-top: 20px;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 2.2rem;
}

#education {
    background-color: beige;
}

.jobDescription ul {
    line-height: 1.5;
    font-size: 1.1rem;
}

#getInTouch {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#getInTouch .contact {
    max-width: 800px;
    text-align: center;
}

#getInTouch .contact h3 {
    font-size: 2.2rem;
    color: #000;
}

.passtime ul {
    list-style: none;
}

.passtime h3 {
    margin-bottom: 10px;
    ;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
}

.container .contactInfo .box .text h3 {
    color: #00bcd4
}

.contactForm {
    width: 30%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px)
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer {
    background-color: #000;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-image img {
    border-radius: 100%;
    margin: 0 15px;
}

.footer-text {
    color: #fff;
    margin: 0 5px;
}

.footer-text p a {
    text-decoration: none;
    color: yellowgreen;
}

@media (min-width:320px) and (max-width:414px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
        background-color: beige;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .professionalImage {
        width: 150px;
        height: 150px;
    }
    .professionalImage img {
        width: 150px;
        height: 150px;
    }
    .name {
        font-size: 1.2rem;
    }
    .margin-reset {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .introduction {
        width: 100%;
        text-align: center;
        height: 100%;
    }
    .profileSummary h3 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    .profileSummary p {
        font-size: 0.7rem;
        line-height: 1.6;
        background-color: black;
        color: white;
    }
    .order {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    #aboutMe {
        height: 435px;
        margin-bottom: 10px;
    }
    .workHeader {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #workExperience {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .employer h2 {
        font-size: 18px;
    }
    .employer h3 {
        font-size: 12px;
    }
    .section-title {
        padding-top: 5px;
        font-size: 1.5rem;
    }
    .experience {
        width: 80%;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .jobDescription {
        width: 100%;
        margin: 0 10px;
        padding: 0 21px;
    }
    .jobDescription ul {
        line-height: 1.2;
        font-size: 1rem;
    }
    .jobDescription ul li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .edu-sec {
        width: 80%;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        text-align: center;
    }
    .card {
        width: 150px;
        height: 150px;
        margin-bottom: 50px;
    }
    .card img {
        max-width: 100%;
        max-height: 100%;
    }
    #getInTouch {
        padding: 30px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #getInTouch .contact {
        max-width: 800px;
        text-align: center;
    }
    #getInTouch .contact h3 {
        font-size: 2.2rem;
        color: #000;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        width: 100%;
    }
    .contactForm {
        width: 100%;
    }
    footer {
        height: 120px;
    }
    .footer-image img {
        max-width: 80px;
        max-height: 80px;
    }
    .footer-text p {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    nav li {
        margin: 5px;
    }
    nav li a {
        padding: 16px;
    }
    #aboutMe {
        height: 670px;
    }
    .profile {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .order {
        flex-direction: column;
        width: 100%;
    }
    .profileSummary {
        display: ;
    }
    .name {
        font-size: 3.5rem;
    }
    .introduction {
        width: 60%;
        height: 112px;
        text-align: center;
    }
    .profileSummary h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .profileSummary p {
        line-height: 1.6;
        background-color: black;
        color: white;
    }
    .name {
        font-size: 3.5rem;
    }
    .employer {
        width: 100%;
        background-color: beige;
        color: black;
        margin: 5px 20px;
        padding: 5px;
    }
    .employer h3 {
        font-size: 0.9rem;
        margin-top: 2.5px;
    }
    .card {
        height: 270px;
        padding-bottom: 40px;
        text-align: center;
    }
    .edu-sec {
        height: 685px;
    }
    #education {
        background-color: beige;
    }
    #aboutMe {
        margin-bottom: 20px;
    }
    #getInTouch {
        padding: 30px 20px;
    }
    #getInTouch .contact {
        max-width: 800px;
        text-align: center;
    }
    #getInTouch .contact h3 {
        font-size: 2.2rem;
        color: #000;
    }
    /* .container .contactInfo {
        width: 45%;
    } */
    /* .contactForm {
        width: 45%;
    } */
}