* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 20px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}

#aboutMe {
    width: 100%;
    height: 600px;
    background: url("../img/top-section-image2.jpg") no-repeat center center;
}

.profile {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-resize {
    width: 400px;
    height: 400px;
}

.margin-reset {
    margin-top: 30px;
    margin-bottom: 30px;
}

.name {
    font-size: 4rem;
}

.introduction {
    width: 60%;
}

.profileSummary h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.profileSummary p {
    line-height: 1.6;
    background-color: black;
    color: white;
}

.name {
    font-size: 3.5rem;
}

.employer {
    width: 300px;
    background-color: beige;
    color: black;
    margin-right: 20px;
    margin-bottom: 5px;
}

.jobDescription {
    width: 800px;
}

.employer h3 {
    font-size: 0.9rem;
    margin-top: 2.5px;
}

.card {
    width: 300px;
    height: 300px;
    margin-right: 15px;
    margin-left: 15px;
}

.card img {
    max-width: 100%;
    max-height: 250pc;
}

.section-title {
    padding-top: 20px;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 2.2rem;
}

#education {
    background-color: beige;
}

#aboutMe {
    margin-bottom: 20px;
}

.jobDescription ul {
    line-height: 1.5;
    font-size: 1.1rem;
}

#getInTouch {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#getInTouch .contact {
    max-width: 800px;
    text-align: center;
}

#getInTouch .contact h3 {
    font-size: 2.2rem;
    color: #000;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
}

.container .contactInfo .box .text h3 {
    color: #00bcd4
}

.contactForm {
    width: 30%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px)
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer {
    background-color: #000;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-image img {
    border-radius: 100%;
    margin: 0 15px;
}

.footer-text {
    color: #fff;
    margin: 0 5px;
}

.footer-text p a {
    text-decoration: none;
    color: yellowgreen;
}

@media (max-width: 991px) {
    nav li {
        margin: 5px;
    }
    nav li a {
        padding: 16px;
    }
    #aboutMe {
        height: 633px;
    }
    .profile {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .order {
        flex-direction: column-reverse;
    }
    .profileSummary {
        display: none;
    }
    .name {
        font-size: 2.5rem;
    }
    .introduction {
        width: 60%;
        height: 112px;
        text-align: center;
    }
    .profileSummary h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .profileSummary p {
        line-height: 1.6;
        background-color: black;
        color: white;
    }
    .name {
        font-size: 3.5rem;
    }
    .employer {
        width: 100%;
        background-color: beige;
        color: black;
        margin: 5px 20px;
        padding: 5px;
    }
    .employer h3 {
        font-size: 0.9rem;
        margin-top: 2.5px;
    }
    .card {
        height: 270px;
        padding-bottom: 40px;
        text-align: center;
    }
    .edu-sec {
        height: 685px;
    }
    .passtime ul {
        list-style: none;
    }
    #education {
        background-color: beige;
    }
    #aboutMe {
        margin-bottom: 20px;
    }
    #getInTouch {
        padding: 30px 20px;
    }
    #getInTouch .contact {
        max-width: 800px;
        text-align: center;
    }
    #getInTouch .contact h3 {
        font-size: 2.2rem;
        color: #000;
    }
    .container .contactInfo {
        width: 45%;
    }
    .contactForm {
        width: 45%;
    }
}